<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress noisy Tika internal logs -->
    <logger name="org.apache.tika" level="WARN"/>
    <logger name="org.apache.pdfbox" level="ERROR"/>
    <logger name="org.apache.poi" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
